body{
    margin:0;
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-image: url('q.jpg');
   


}

h1{
    margin:0;
    margin-bottom: .5rem;
    color:rgb(230, 235, 236);
    font-size: 40px;
    font-style: italic;
}

.ut{
    border-radius: .2rem;
    width:4em;
    height: 2.5em;
}

.input{
border: 1px solid #333;
width:7em;
height:25px;
border-radius: .3em;
padding: .25rem;
font-weight:bolder;



}

select{
    margin-left: .5rem;
}
.equals{
    font-weight: bold;
    font-size: 2rem;
    color:#fff
}

.foot{
    color:#fff;
    
    
}